---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/formatted-date.astro";
import "./index.css";

const posts = (await getCollection("blog")).sort((a, b) =>
  a.data.pubDate.valueOf() > b.data.pubDate.valueOf() ? -1 : 1,
);

const baseColors = ["indigo", "cyan", "secondary", "secondary"];

let colors: string[] = [];
let colorIndex = 0;
let projectSize: boolean[] = [];
let projectSizeIndex = 0;

for (let i = 0; i < posts.length; i++) {
  if (projectSizeIndex === 4) {
    projectSizeIndex = 0;
  }

  projectSizeIndex++;

  colorIndex = colorIndex === baseColors.length - 1 ? 0 : colorIndex + 1;
  colors.push(baseColors[colorIndex]);

  projectSize.push(
    projectSizeIndex === 1 || projectSizeIndex === 4,
  );
}
---

<Layout title="blog" header="blog">
  <div class="grid grid-cols-1 lg:grid-cols-3">
    {
      posts.map((post, i) => {
          const large = projectSize[i];
        return (
          <a
            href={`/blog/${post.slug}/`}
            class={`project block px-10 py-10 m-5 shadow-2xl xl:px-40 xl:py-20 rounded-lg border border-white/10 bg-indigo-950/60 p-8 backdrop-blur text-white ${
              large ? "lg:col-span-2" : ""
            }`}
          >
            <h3 class={`mb-2 border-b-2 border-white text-xl`}>
              {post.data.title}
            </h3>
            <FormattedDate date={post.data.pubDate} />
          </a>
        );
      })
    }
  </div>
</Layout>
