<section class="cd-timeline js-cd-timeline">
    <div class="cd-timeline__container">
        {{ range sort $.Site.Data.career.events "order" }}
        <div class="cd-timeline__block js-cd-block">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
            </div>
            <div class="bg-light card cd-timeline__content js-cd-content">
                <h2 class="text-dark">{{ .title }}</h2>
                <small class="text-dark">{{ .sub_title }}</small>
                <p class="text-dark">{{ .description }}</p>
                <span class="cd-timeline__date text-dark">{{ .date }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</section>