---
import Layout from "../layouts/Layout.astro";
import CareerEvent from "../components/career-event.astro";
import TypeWriter from "../components/type-writer";

const events = [
  {
    title: "Tech lead",
    company: "Innovation Group Ltd",
    description: "",
    start: "July 2022",
    end: "present",
  },
  {
    title: "Senior full stack developer",
    company: "Innovation Group Ltd",
    description: "",
    start: "April 2021",
    end: "July 2022",
  },
  {
    title: "Software consultant",
    company: "Atlas Computer Systems Ltd - Fundipedia",
    description:
      "After working in a software developer position for a short while I was then promomoted to software consultant for a more client facing position.",
    start: "March 2020",
    end: "April 2021",
  },
  {
    title: "Software developer",
    company: "Atlas Computer Systems Ltd",
    description:
      "After successfully securing a First Class (Hons.) Bsc Computer Science degree I was promoted to a software developer.",
    start: "September 2019",
    end: "March 2020",
  },
  {
    title: "Degree apprentice",
    company: "Atlas Computer Systems Ltd/University of Essex",
    description:
      "Whilst in my role as a junior developer I was given the opportunity to enter a degree apprenticeship program. This required me to work my full-time job whilst also taking my full-time degree course (it was hard)",
    start: "October 2016",
    end: "September 2019",
  },
  {
    title: "Juinior web developer",
    company: "Atlas Computer Systems Ltd",
    description:
      "After successfully completing my apprenticeship I was promoted to junior.",
    start: "June 2015",
    end: "October 2016",
  },
  {
    title: "Apprentice web developer",
    company: "Atlas Computer Systems Ltd",
    description: "This was my introduction into the world of programming.",
    start: "June 2014",
    end: "June 2015",
  },
];

const titles = events.map(e => `${e.title}...`);
---

<Layout title="Matt Hope" header="My career so far!" headerSuffix={titles}>
  <div class="mb-20">
    {
      events.map((event, i) => {
        return <CareerEvent {...event} isFirst={i === 0} />;
      })
    }
  </div>
</Layout>
