---
import Layout from "../layouts/Layout.astro";
import TypeWriter from "../components/TypeWriter";
---

<Layout title="Matt Hope">
  <main>
    <header class="block bg-indigo-600 px-20 pt-10">
      <navbar class="grid w-full grid-flow-col">
        <span class="col-span-12">
          <a href="/" class="text-white hover:text-indigo-300">matt-h.dev</a>
        </span>
        <span class="text-end">
          <a class="cursor-pointer text-white hover:text-indigo-300">Portflio</a
          >
        </span>
        <span class="text-end">
          <a class="cursor-pointer text-white hover:text-indigo-300">Blog</a>
        </span>
        <span class="text-end">
          <a class="cursor-pointer text-white hover:text-indigo-300">Career</a>
        </span>
      </navbar>
      <div class="block py-32">
        <TypeWriter text="Hi, my name is Matt. I'm a tech lead..." client:visible />
      </div>
    </header>
  </main>
</Layout>
