---
import Layout from "../layouts/Layout.astro";
import TypeWriter from "../components/type-writer";
---

<Layout
  title="Matt Hope"
  header="Hi, It's Matt!"
  headerSuffix={[
    "I'm a Tech lead...",
    "I'm a Software developer...",
    "I'm a Mentor...",
    "I'm a Coding enthusiast...",
  ]}
>
  <div class="px-40 py-20 text-indigo-600">
    <h2 class="pb-10 text-2xl">About me</h2>
    <p>
      I'm a professional tech lead with a decade of software development
      experience, focusing on innovation and leveraging current technologies to
      build large scale enterprise applications. In-depth experience in
      requirements gathering, sprint planning, development, design, maintenance,
      and testing of software. Broad expertise in various platforms, frameworks,
      and technologies with a proven ability to eﬃciently lead teams to work in
      a collaborative way to deliver projects on schedule.
    </p>
  </div>

  <div class="bg-indigo-600 px-40 py-10 text-white">
    <h2 class="mb-0 text-2xl">Portfolio</h2>
  </div>

  <div class="grid grid-cols-2">
    <div class="bg-indigo-400 px-40 py-20 text-white">
      <h3 class="mb-2 border-b-2 text-xl">Sourcey</h3>
      <span
        >Event souricng library with built in aggregate and projection support</span
      >
    </div>
    <div class="bg-white px-40 py-20 text-indigo-400">
      <h3 class="mb-2 border-b-2 border-b-indigo-400 text-xl">Hostly</h3>
      <span>Net core style host for Xamarin apps</span>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="bg-white px-40 py-20 text-indigo-400">
      <h3 class="mb-2 border-b-2 border-b-indigo-400 text-xl">Sound it out</h3>
      <span>Audio book portal</span>
    </div>
    <div class="bg-indigo-400 px-40 py-20 text-white">
      <h3 class="mb-2 border-b-2 text-xl">Clipboard</h3>
      <span>Document text extractor</span>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="bg-indigo-400 px-40 py-20 text-white">
      <h3 class="mb-2 border-b-2 text-xl">Chatbot</h3>
      <span>ML based chatbot</span>
    </div>
    <div class="bg-white px-40 py-20 text-indigo-400">
      <h3 class="mb-2 border-b-2 border-b-indigo-400 text-xl">APC</h3>
      <span>Python compiler built with antlr</span>
    </div>
  </div>
</Layout>
