---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matt Hope">
  <main>
    <header class="block bg-indigo-600 px-20 pt-10">
      <navbar class="grid w-full grid-flow-col">
        <span class="col-span-12">
          <a href="/" class="text-white hover:text-indigo-300">matt-h.web</a>
        </span>
        <span class="text-end">
          <a class="text-white cursor-pointer hover:text-indigo-300">Portflio</a>
        </span>
        <span class="text-end">
          <a class="text-white cursor-pointer hover:text-indigo-300">Blog</a>
        </span>
        <span class="text-end">
          <a class="text-white cursor-pointer hover:text-indigo-300">Career</a>
        </span>
      </navbar>
      <div class="block py-32">
        <span
          class="before:animate-typewriter after:animate-caret relative
w-[max-content] text-6xl
text-white
before:absolute before:inset-0 before:bg-indigo-600 after:absolute
after:inset-0
after:w-[0.08em] after:bg-white
border-b-[0.08em] border-white"
        >
          Hello, my name is Matt. I'm a tech lead...
        </span>
      </div>
    </header>
  </main>
</Layout>
