---
import TypeWriter from "../components/type-writer";
interface Props {
  title: string;
  header?: string;
  headerSuffix?: string[];
}

const { title, header, headerSuffix } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <title>{title}</title>
  </head>
  <body class="font-mono">
    <main>
      <header class="block bg-indigo-600 px-20 pb-10 pt-10">
        <navbar class="grid w-full grid-flow-col">
          <span class="col-span-12 pt-4">
            <a
              href="/"
              class="rounded bg-white px-4 py-2 text-indigo-600 hover:bg-indigo-400 hover:text-white"
              >matt-h.dev</a
            >
          </span>
          <span class="align-middle">
            <button class="rounded bg-white px-6 py-4 text-indigo-600 hover:bg-indigo-400 hover:text-white"
              >Download my CV</button
            >
          </span>
          <span class="pt-4 text-end">
            <a class="cursor-pointer text-white hover:text-indigo-400"
              >Portflio</a
            >
          </span>
          <span class="pt-4 text-end">
            <a class="cursor-pointer text-white hover:text-indigo-400">Blog</a>
          </span>
          <span class="pt-4 text-end">
            <a
              href="/career"
              class="cursor-pointer text-white hover:text-indigo-400">Career</a
            >
          </span>
        </navbar>
      </header>
      <div class="block block bg-indigo-600 px-56 pb-64 pt-40">
        <h1 class="text-6xl text-white">{header}</h1>
        <hr class="my-6 border-2" />
        <TypeWriter textSuffix={headerSuffix} client:load />
      </div>
    </main>
    <slot />
  </body>
</html>
